



<div class="row justify-content-md-center reg-content">
    <div class="col-sm-4 m-3">
        <img id="topLogo" src="assets/img/FauxLogo.svg">

        <form class="login-form" id="login-form">
            <div class="text-field">
                <input type="text" name="username" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="">
                <label for="exampleInputUsername">Username</label>
            </div>
            <div class="text-field">
                <input type="password" name="password" id="exampleInputPassword" placeholder="">
                <label for="exampleInputPassword">Password</label>
            </div>


            <div class="error mb-3 text-danger"></div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="buttonLogin">Login</button>
            </div>

            <div class="form-group align-right">
                <a id="switch" onclick='app.loadController("registration")'>
                    Register <img src="assets/img/icons/go.svg">
                </a>
            </div>
        </form>
    </div>
</div>






<!--<div class="row justify-content-md-center">-->
<!--    <div class="col-sm-4 m-3">-->
<!--        <form>-->

<!--            <div class="text-field">-->
<!--                <input type="text" id="exampleInputUsername"-->
<!--                       aria-describedby="emailHelp"-->
<!--                       placeholder="" required>-->
<!--                <label for="exampleInputUsername">Username</label>-->
<!--            </div>-->
<!--            <div class="text-field">-->
<!--                <input type="password" id="exampleInputPassword"-->
<!--                       placeholder="" required>-->
<!--                <label for="exampleInputPassword">Password</label>-->
<!--            </div>-->

<!--            <div class="form-check mb-3">-->
<!--                <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                <label class="form-check-label" for="exampleCheck1">Onthoud mij</label>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <button type="submit" class="btn btn-primary">Login</button>-->
<!--            </div>-->

<!--        </form>-->
<!--    </div>-->
<!--</div>-->
