<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>profile page</title>

</head>
profilepage
<body>
<div class="card">


<!--  <label>username</label>-->
<!--  <input id="username " value=""> l </input>-->
<!--  <label>firstname</label>-->
<!--  <input id="firstname " value="">l  </input>-->
<!--  <label>lastname</label>-->
<!--  <input  id="lastname"value=""> l</input>-->
<!--  <label>email</label>-->
<!--  <input  id="email"value=""> l </input>-->
<!--  -->
  <form>
    <label for="firstname">First name:</label><br>
    <input type="text" id="firstname" name="fname" value=""><br>
    <label for="lastname">Last name:</label><br>
    <input type="text" id="lastname" name="lname" value=""><br><br>
    <label for="username">username:</label><br>
    <input type="text" id="username" name="username" value=""><br><br>
    <label for="email">email:</label><br>
    <input type="text" id="email" name="email" value=""><br><br>
    <input type="submit" value="Submit">
  </form>
    <input type="file" accept="image/png, image/gif, image/jpeg"> <button class="submitPFP"> submit</button>
  </div>
  <div><p>bio </p><input type ="text"> <button class="submitText"> submit</button></div>
</div>
<div class ="test-profile"></div>
<script src="../assets/js/controllers/profileController.js"></script>
</body>
</html>