<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link href="../assets/css/register.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <H1>Register your account</H1>
    <div class="specifics">
        <div class="list">
            <label for="name">First name</label>
            <input type="text" class="spacing" id="name" placeholder="name">
        </div>
        <div class="list">
            <label for="surname">Last name</label>
            <input type="text" class="spacing" id="surname" placeholder="surname">
        </div>
        <div class="list">
            <label for="dateOfBirth">Date of birth</label>
            <input type="text" class="spacing" id="dateOfBirth" placeholder="Date of Birth">
        </div>
        <div class="list">
            <label for="E-mail">Emailadres</label>
            <input type="text" class="spacing" id="E-mail" placeholder="E-mail">
        </div>
        <div class="list">
            <label for="Password">Password</label>
            <input type="text" class="spacing" id="Password" placeholder="Password">
        </div>
        <div class="list">
            <label for="RePassword">Repeat Password</label>
            <input type="text" class="spacing" id="RePassword" placeholder="Repeat">
        </div>
        <div class="list">
            <label for="agreement">Do you agree to the terms and conditions</label>
            <input type="checkbox" class="spacing" id="agreement">
        </div>
        <div class="list">
            <label for="notifications">Receive e-mail notifications</label>
            <input type="checkbox" class="spacing" id="notifications">
        </div>
        <button class="spacing" id="register" style="width: 150px">Register</button>
    </div>

</div>
</body>
</html>